<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/6002afb8-c47c-4467-a064-414592543ded/resourceGroups/consultant-portal/providers/Microsoft.Web/sites/Consultant-Portal-App-Test</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://consultant-portal-app-test.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>consultant-portal-app-test.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Consultant-Portal-App-Test</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$Consultant-Portal-App-Test</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>